/* * */
* {
    box-sizing: border-box;
}

html { 
    margin: 0 auto;
}

/* ELEMENTS */

body {
    font-family: 'Mukta Mahee', sans-serif;
    background-image: url(../images/granite-bg.svg);
    background-size: 100px;
    margin:0;
}

main {

}

a {
    color:white;
}

h1 {
    color:#eee;
    margin: 0;
    font-size: 1.2rem;
}

h2 {
    margin:0;
    margin-bottom: 20px;
    color: #6a6b1e;
}

h3 {
    margin-top: 0;
    color: #6a6b1e
}

section {
    background-color: white;
    /* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); */
    
}
main {
    /* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);     */
    box-shadow: 2px 15px 38px -17px rgba(0,0,0,0.49);
-webkit-box-shadow: 2px 15px 38px -17px rgba(0,0,0,0.49);
-moz-box-shadow: 2px 15px 38px -17px rgba(0,0,0,0.49);
}

ul {
    /* margin-left: 20px; */
    display: inline-block;
    margin-top:0;
    /* background-color: red; */
}

/* NAVIGATION */

.logo img {
    padding: 10px;
    /* width: calc(100% - 20px); */
    width: 100%;
    /* background-color: white; */
    min-width: 100px;
    max-width: 225px;
}

.logo-container {
    display: flex;
    align-items: center;
    /* background-color:red; */
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;  
} */

.logo-container > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.logo-container > .logo {
    display: flex;
}

.logo-container .logo a {
    flex: 1;
}
  
.logo-nav {
    text-align: right;
    width: 100%;
}

nav .menuBtn a {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    display: inline-block;
    height: 100%;
    margin: 0;
    width: 75%;
    text-align: center;
    background-color: #6a6b1e;
}

 @media screen and (max-width: 275px) {
    .logo-container {
        flex-direction: column;
        align-items: unset;
    }
    nav .menuBtn a {
        width: 100% !important;
        margin: 0;
    }
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation {
    height: 100%;
    text-align: left;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #173851;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.navigation li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #c6c8c3;
    display: block;
    transition: 0.3s;
}

.navigation li a:hover {
    color: #f1f1f1;
}
  
.navigation .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.5rem;
    margin-left: 50px;
}

.menuBtn, .closeBtn {
    display: block;
}

.navigation img {
    display: none;
}

.active {
    border-bottom: 5px solid #ab5452;
    padding-bottom: 5px;
    background-color:#3c749e;
}

.active a, .dropdown .active a {
    color: white !important;
}

.dropdown li a {
    color:#c6c8c3 !important;
}
.dropdown .active {
    background-color:#ab5452;
    border-bottom: unset;
    padding-bottom: unset;
}

.dropdown {
    display: static;
    padding-left: 30px;
}

.dropdown a {
    color: #e9ea4d !important;
    font-size: 1rem !important;
}

.dropdown a:hover {
    color: white !important;
}
  



/* MAIN */

/* main {
    width: 100%;
} */

.title-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #173851;
    color: white;
    padding: 10px;
    /* width: calc(100% - 20px); */
}


.motto {
    display: none;
    justify-self: flex-end;
    align-self: center;
    color: #e9ea4d;
}

.image-full {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

/* aside.action-call { */
    /* position: relative;
    margin: 0 auto; */
/* } */

i.arrow {
    border: solid #e9ea4d;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.right {
    transform: rotate(-45deg);
}

aside.action-call div {
    background-color: rgba(171, 84, 82, 1);
    padding: 0.5em;
    text-align: center;
    color: white;   
}



/* section.home {
    margin-bottom: 100px;
} */

section.home div, section.home aside {
    padding: 20px;
    width: 100%;
    height: auto;
}
/* section.home {
    background-color: white;
} */
section.home div {
    /* background-color:#3c749e; */
    color:#3c749e;    
}

section.home aside {
    text-align: center;
    /* background-color:#c6c8c3; */
}

section.home>div img {
    width: 200px;
    height:200px;
    float:left;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* section.home aside img {
    width: 100%;    
} */


@media screen and (max-width: 400px) {
    section.home div img {
        width: 100% !important;
        height: auto;
    }
}

.home-services-list {
    overflow: hidden;
}





/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
  }


a.button {
    background-color: #ab5452;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}



/* TEMPLE DETAIL */

.temple-detail-container { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; 
    grid-template-areas: 
        "title"
        "pic"
        "info"
        "summary"
        "detail";
    grid-gap: 20px;  
}
.temple-title { grid-area: title; }
.temple-info { grid-area: info; } 
.temple-pic { grid-area: pic; }
.temple-summary {grid-area: summary; } 
.temple-detail { grid-area: detail; }

.temple-pic img {
    width: 100%;
}

.temple-detail-container h2 {
    margin: 0;
}

.temple-detail-container h3 {
    background-color: #6a6b1e;
    color: white;
    padding: 10px;
    letter-spacing: 1px;
    font-weight: normal;
}

.temple-detail-container p {
    /* Allows the passed in \r\n to do line breaks, see address for the temple as an example */
    /* white-space: pre; */
    margin-top: 0;
}

.temple-detail-container a {
    color: #6a6b1e;
}

.temple-weather {
    text-transform: capitalize;
    font-size: 1.2rem;
}

.temple-summary-container, .temple-summary-container div div {
    padding: 0 !important;
    width: 100% !important;    
}

.temple-summary-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.temple-summary-container div {
    width: 260px;
    margin: 0 auto;
}

#templeInfoContainer {
    width: 100%;
    padding: 0;
}




/* FOOTER */

.social-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 430px) {
    .social-container {
        margin-bottom: 60px !important;
    }
}
@media screen and (max-width: 250px) {
    .social-container {
        margin-bottom: 80px !important;
    }
}
@media screen and (max-width: 180px) {
    .social-container {
        margin-bottom: 100px !important;
    }
}

.social-container img {
    width: 40px;
    padding: 4px;
}

.sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ab4342;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
 }

 .contact-number {
     font-size: 1.2rem;
     white-space: nowrap;
 }

 .footer-link-container {
     display: flex;
     flex-wrap: wrap;
 }


 /* FORMATTING */
.section-padding {
    padding: 20px !important;
}